// /colors --------------------

$primary-color: hsl(0, 0%, 98%);
$secondary-color: hsl(0, 0%, 41%);
$tertiary-color: hsl(0, 0%, 8%);

// font-weights ---------------
$medium-weight: 400;
$bold-weight: 700;

// font-style -----------------
$main-font: "Epilogue";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 768px) {
    @content;
  }
}
