@import "config";
@import "responsive";
@import "header";

body {
  font-family: $main-font, sans-serif;
  font-size: 18px;
  min-height: 100vh;

  line-height: 1;
}

main {
  .hero {
    img {
      object-position: top center;
      object-fit: cover;
      margin-bottom: 1.8rem;
      max-width: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: $bold-weight;
    margin: 0 0.5rem;
    text-align: center;
    font-size: 2.3rem;
    padding: 0.5rem;
  }

  &__details {
    font-weight: $medium-weight;
    margin: 1rem 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    color: $secondary-color;
  }

  &__learn-more {
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    padding: 0.8rem 1.8rem;
    text-transform: capitalize;
    background-color: $tertiary-color;
    color: $primary-color;
    font-weight: $bold-weight;
    margin-bottom: 3rem;
    @include transition-ease;

    &:hover {
      background-color: $primary-color;
      color: $tertiary-color;
      border: 1px solid $tertiary-color;
      cursor: pointer;
    }
    &:active {
      background-color: $tertiary-color;
      color: $primary-color;
      border: none;
    }
  }
  &__partners {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
}
