@use "../abstracts" as *;

@include media-md {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .snap {
      height: 100%;
      cursor: pointer;
      @include transition-ease;

      &:hover {
        filter: drop-shadow(2px 5px 7px $secondary-color);
      }
    }

    .nav {
      min-height: 100vh;
      position: fixed;
      right: -100%;
      background-color: $primary-color;
      min-width: 60%;
      padding: 7rem 2rem;
      top: 0;
      @include transition-ease;

      &.open {
        right: 0;
        z-index: 1;
      }
    }
  }
}
