@use "../abstracts" as *;
@include media-lg {
  header {
    display: flex;
    margin: 2rem;
    gap: 1rem;
    max-height: 5vh;

    .snap {
      padding: 1rem;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;

      li {
        margin-bottom: 2rem;
      }

      .menu-nav {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem;
      }

      .sign-up {
        display: flex;
        gap: 1rem;
        align-items: center;

        * {
          margin-bottom: 0;
        }
      }
    }
  }
}
@include media-md {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .snap {
      height: 100%;
      cursor: pointer;
      @include transition-ease;

      &:hover {
        filter: drop-shadow(2px 5px 7px $secondary-color);
      }
    }

    .nav {
      min-height: 100vh;
      position: fixed;
      right: -100%;
      background-color: $primary-color;
      min-width: 60%;
      padding: 7rem 2rem;
      top: 0;
      @include transition-ease;

      li {
        margin-bottom: 2rem;
      }

      &.open {
        right: 0;
        z-index: 1;
      }
    }
  }
}
