@use "../abstracts" as *;
.container {
  &__title {
    font-size: clamp(1rem, 2rem + 2vw, 6rem);
    padding: 0.5rem;
  }

  &__details {
    text-transform: capitalize;
    font-size: clamp(0.6rem, 0.8rem + 1vw, 1.2rem);
    color: $secondary-color;
  }
  &__learn-more {
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    padding: 0.8rem 1.8rem;
    text-transform: capitalize;
    background-color: $tertiary-color;
    color: $primary-color;
    font-weight: $bold-weight;
    margin-bottom: 3rem;
    @include transition-ease;

    &:hover {
      background-color: $primary-color;
      color: $tertiary-color;
      border: 1px solid $tertiary-color;
      cursor: pointer;
    }
    &:active {
      background-color: $tertiary-color;
      color: $primary-color;
      border: none;
    }
  }
}

//desktop ----------------------->
@include media-lg {
  main {
    .hero {
      display: none;
    }
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto;
    padding: 2rem;
    max-width: 74rem;

    .desktop-hero {
      min-width: max(410px, 100%);
      min-height: 42rem;
      background-color: transparent;
      background-image: url(/images/image-hero-desktop.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 3rem;

      &__title {
        .make-breakline {
          display: block;
        }
      }
      &__details {
        width: min(400px, 100%);
        padding: 1rem;
        line-height: 2rem;
      }

      &__partners {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }
    }
  }
}

//mobile ----------------------->
// background color for body when nav pop-up
@include media-md {
  body {
    overflow: hidden;
    line-height: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.open {
      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: rgba($color: $secondary-color, $alpha: 0.4);
      }
    }
    .hidden {
      display: none;
    }
  }

  //main----------->

  main {
    .hero {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: cover;
        margin-bottom: 1.8rem;
        max-width: 100%;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        font-weight: $bold-weight;
        margin: 0 0.5rem;
        text-align: center;
        padding: 0.5rem;
      }

      &__details {
        font-weight: $medium-weight;
        margin: 1rem 0.5rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 0.5rem;
      }

      &__partners {
        display: grid;
        place-items: center;
        min-width: 100%;
        min-height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(min(130px, 100%), 1fr));
        gap: 0.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
