@use "../abstracts" as *;

@include media-md {
  .menu-nav {
    &__features {
      cursor: pointer;

      .select {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 2rem;
        gap: 3rem;

        &__caret {
          height: 12px;
          width: 12px;
          background-image: url(/images/icon-arrow-down.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @include transition-ease;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      //--------features--expand----->
      .features {
        margin-left: 3rem;

        &__menu {
          position: relative;

          .todo-list::before {
            content: "";
            background-image: url(/images/icon-todo.svg);
            height: 18px;
            width: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.5rem;
            top: -0.1rem;
          }

          .calendar::before {
            content: "";
            background-image: url(/images/icon-calendar.svg);
            height: 18px;
            width: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.5rem;
            top: -0.1rem;
          }
          .reminders::before {
            content: "";
            background-image: url(/images/icon-reminders.svg);
            height: 18px;
            width: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.5rem;
            top: -0.1rem;
          }
          .planning::before {
            content: "";
            background-image: url(/images/icon-planning.svg);
            height: 18px;
            width: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -1.5rem;
            top: -0.1rem;
          }
        }
      }
    }
    //--------company--expand----->

    &__company {
      cursor: pointer;

      .select {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 2rem;
        gap: 2.7rem;

        &__caret {
          height: 12px;
          width: 12px;
          background-image: url(/images/icon-arrow-down.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @include transition-ease;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      .company-list {
        margin-left: 2rem;
      }
    }

    &__login {
      text-align: center;
    }

    &__register {
      text-align: center;

      button {
        border: 2px solid $secondary-color;
        border-radius: 15px;
        max-width: 100%;
        padding: 0.8rem 3.5rem;
        text-transform: capitalize;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
